global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
rule_files:
  - "alerts.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # - job_name: 'payment-gateway'
  #   static_configs:
  #     - targets: ['app:8080']  # Use service name from docker-compose
  #   metrics_path: '/metrics'

  - job_name: cadvisor
    static_configs:
      - targets:
          - cadvisor:8080
          
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']